.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  /* justify-content: center; */
}

#dark {
  background-color: #202d36;
}

.card {
  min-width: 200px;
  box-sizing: border-box;
}

.filter-container {
  margin-top: 35px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 900px) {
  .filter-container {
    flex-direction: column;
    gap: 10px;
    justify-items: center;
  }
}

.App {
  min-height: 100vh;
  background-color: inherit;
}
